.rating-area {
    overflow: hidden;
    width: 146px;
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
}

.rating-area:not(:checked) > input {
    display: none;
}

.rating-area:not(:checked) > label {
    float: right;
    width: 28px;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    line-height: 32px;
    color: lightgrey;
}

.rating-area:not(:checked) > label:before {
    content: '★';
}


.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: #fcb60b;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: #fcb60b;
}


.rating-area > input:checked ~ label {
    color: #fcb60b;
}

.rating-area.alert {
    border: 1px solid #EF533F;
    border-radius: 4px;
}
.rating-area.alert:not(:checked) > label {
   // color: #EF533F;
}


.rate-area > label:active {
    position: relative;
}



.rating-result {
    overflow: hidden;
    width: 146px;
    margin: 0;
    padding: 0;
}
.rating-result span {
    width: 25px;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    line-height: 32px;
    color: lightgrey;
}
.rating-result > span:before {
    content: '★';
}
.rating-result > span.active {
    color: #fcb60b;
}







