@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorGreen: #0f6567;
$colorYellow: #FF931E;


$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin family {
    font-family: 'Source Sans Pro', "Arial Narrow", Arial, Helvetica, sans-serif;


}


@mixin Inter {
    font-family: 'Inter Variable', sans-serif;
}

@mixin Roboto {
    font-family: 'Roboto Flex Variable', sans-serif;
}
.m_option_m {
    background: #F5F5F7;
    border-radius: 4px;
    padding: 0 0 20px 0;
    margin-bottom: 20px;

    .m_avamed {
        width: 123px;
        height: 123px;
        position: relative;
        background-size: cover;
        border-bottom: 1px solid #E0E0E0;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 50%;
        margin: 0 auto;
    }
    .row_h_m {
        padding: 20px 0 0 0 ;
    }
    .row_content_flex_1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        padding: 0 0 10px 0;

        .s_stars_s {
            position: relative;
            left: -10px;
        }

        .m_tleft {
            width: 200px;
            min-width: 200px;
            position: relative;
        }

        .m_tright {
            width: 100%;
            position: relative;
            display: flex;
            justify-content: end;
            align-items: center;
            font-size: 12px;
            height: 32px;
            span {
                padding: 0 0 0 10px;
            }

        }
    }


.row_username {
    line-height: 100%;
    padding: 5px 0 20px 0;
    position: relative;
    width: 100%;
    a {
        display: block;
        width: 100%;
        position: relative;
        color: $colorBlue;
        font-size: 24px;
        text-decoration: none;
        font-weight: 600;
    }
    a:hover {
        color: $colorRed;

        text-decoration: underline;
    }
}
.row_sphere {
    padding: 5px 0 20px 0;
    position: relative;
    width: 100%;
    line-height: 1.3em;
    .sp_sphere {
        color: $colorGrey;
    }
}


.row_address {
    padding: 5px 0 0 0;
    position: relative;
    width: 100%;
    line-height: 1.3em;


    i {
        font-style: normal;
        color: $colorGrey;
    }
    .blue_color {
        color: $colorBlue;
    }

}







}
.row_flex {
     width: 100%;
    position: relative;
    display: flex;
    .col_ava {
        width: 200px;
        min-width: 200px;

        position: relative;

    }
    .col_content {
           width: 100%;
           position: relative;
        padding: 20px 20px 0 20px;
    }
}


