@charset "utf-8";
$color: #282828;
$colorRed: #EF533F;
$colorCCC: #CCCCCC;
$colorGrey: #667085;
$colorBlue: #095C9A;
$colorGreen: #0f6567;
$colorYellow: #FF931E;


$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin family {
    font-family: 'Source Sans Pro', "Arial Narrow", Arial, Helvetica, sans-serif;


}


@mixin Inter {
    font-family: 'Inter Variable', sans-serif;
}

@mixin Roboto {
    font-family: 'Roboto Flex Variable', sans-serif;
}

.content_Flex {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 40px;

    .left_bar {
        width: 30%;
        min-width: 393px;
        padding: 20px 0;

        .left_m {
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
            width: 90%;

            li {

                padding: 0 16px;
                border-left: 3px solid #e0e0e0;

                a {
                    color: $color;
                    font-size: 18px;
                    height: 56px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-decoration: none;

                    box-sizing: border-box;
                    transition: 0.3s;
                    border-bottom: 1px solid #e0e0e0;
                }

            }


            a:hover,
            li.active a {

                background: #F5F5F7;
            }

            li:hover,
            li.active {
                background: #F5F5F7;
            }

            li.active {
                border-left: 3px solid $colorBlue

            }


            li:first-child a:hover, li:first-child a {
                border-top: none
            }

            li:last-child a:hover, li:last-child a {
                border-bottom: none
            }


        }
    }

    .center_content {
        width: 100%;
        padding: 20px 0 20px 30px;

    }

}

.subtitle {
    font-size: 14px;
    color: $colorGrey;
    line-height: 1.2em;
    position: relative;
    top: -17px;
}

.page_content__img {
    padding: 24px 0;
    width: 100%;
    position: relative;

    img {
        max-width: 100%;
    }
}


.page_content {
    table {
        width: 100% !important;
        margin: 16px 0;

        tr {
            td {
                border: 1px solid #E0E0E0;
                padding: 7px;

                p {
                    padding: 0;
                    margin: 0;
                }
            }
        }

        tr.info {
            background: $colorBlue;
            color: #fff;
        }

        .t_grey {
            color: $colorGrey;
            font-size: 14px;
        }
    }
}

.city_tags {
    padding: 20px 0 0 0;

    .city_tags__title {
        font-size: 22px;
        font-weight: 600;
        color: $colorRed;
    }

    .city_tags__flex {
        padding: 20px 0;

        .city_tag:first-child {

            margin: 0 5px 0 0;
        }

        .city_tag {
            color: #fff;
            font-size: 12px;
            background: $colorRed;
            margin: 0 5px;
            padding: 2px 10px;
            border-radius: 12px;
        }
    }
}

.month_tags {
    padding: 20px 0 0 0;

    .month_tags__title {
        font-size: 22px;
        font-weight: 600;
        color: $colorBlue;
    }

    .month_tags__flex {
        padding: 20px 0;

        .month_tag:first-child {

            margin: 0 5px 0 0;
        }

        .month_tag {
            color: #fff;
            font-size: 12px;
            background: $colorBlue;
            margin: 0 5px;
            padding: 2px 10px;
            border-radius: 12px;
        }
    }
}

.border_b {
    border-bottom: 1px dashed #dedede;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

._p_gallery {
    padding: 30px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .mItem {
        padding: 5px 35px 30px 0;
    }

    img {
        border-radius: 6px;
        border: 3px solid #f1f1f1;
    }

    .mItem:nth-child(3n) {
        padding-right: 0;

    }
}


.n_teasers_ {
    position: relative;
    top: -2px;

    .n_teaser_ {
        background: #F5F5F7;
        border-radius: 12px;
        padding: 16px;
        margin-bottom: 16px;
        max-width: 85%
    }

    .n_h3 {
        font-size: 24px;
        color: $color;
        padding: 10px 0 10px 0;
        line-height: 1.2em;
        margin: 0;
        font-weight: 600;
    }

    .shortdesc {
        padding: 1px 0 10px 0;
        line-height: 1.5em !important;

        p {
            line-height: 1.5em !important;
        }
    }
}


.n_teasers_komanda {
    position: relative;
    top: -2px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 16px 0;

    .my_team_teaser {
        width: 32.5%;
        padding: 2% 0.5%;
        border-radius: 2px;
        border: 1px solid #E0E0E0;
        margin: 0 1% 2% 0;
        background: #F5F5F7;
    }

    .my_team_teaser:nth-child(3n) {
        margin-right: 0;
    }

    .my_team_post {
        font-size: 18px;
        text-align: center;
        padding: 5px 0 0 0;
        margin-bottom: 6px;
        height: 50px;
        overflow: hidden;
    }

    .my_team_img {
        text-align: center;
        padding: 9px 8px 10px 8px !important;
    }

    h2 {
        font-size: 18px !important;
        text-align: center;
        padding: 9px !important;
    }
}

.n_full_komanda {
    position: relative;

    ._subtitle {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.3em;
        padding: 10px 0;
    }

    .n_full_komanda__flex {
        display: flex;
        padding: 20px 0;

        .n_full_komanda_left {
            padding: 0 56px 0 0;
            img {
                border-radius: 4px;
                border: 1px solid #E0E0E0;
            }
        }

        .n_full_komanda_right {
            padding: 12px 0;
            position: relative;
            width: 100%;
            .n_full_komanda_options {
                position: relative;
                width: 100%;
                .n_full_komanda_option {
                    display: flex;
                    padding-bottom: 18px;
                    font-size: 18px;
                }
                .k_label {
                    width: 25%;
                    font-weight: 600;
                    color: $colorBlue;
                }
                .k_result {
                    width: 75%;
                }
            }
        }
    }

}
